@media only screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .first-container {
    position: relative;
  }
  .second-container {
    margin: 0;
  }
  .project-container,
  .experience-container {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .icon-container {
    margin: 25px 0 0 0;
  }
  .theme-toggle {
    margin-top: 15px;
  }
  .about {
    padding-top: 0;
  }
  .first-container {
    padding: 30px;
  }
}
