@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Dark theme */
/*---------------------------------------------------------------------------------------------------------*/
.portfolio-container-dark {
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #d4cec2;
}
.portfolio-container-dark a {
  color: #d4cec2;
}
.portfolio-container-dark p {
  opacity: 0.8;
}
.portfolio-container-dark h2,
h3 {
  opacity: 0.9;
}
.portfolio-container-dark .project-container:hover {
  background-color: #2d2d2d;
}
.portfolio-container-dark .icon {
  width: 30px;
  padding-right: 10px;
  filter: invert(95%) sepia(16%) saturate(198%) hue-rotate(342deg)
    brightness(87%) contrast(89%);
}
.portfolio-container-dark .icon:hover {
  filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(9deg)
    brightness(101%) contrast(102%);
}
.portfolio-container-dark .sun {
  filter: invert(95%) sepia(16%) saturate(198%) hue-rotate(342deg)
    brightness(87%) contrast(89%);
}
.portfolio-container-dark .moon {
  filter: invert(95%) sepia(16%) saturate(198%) hue-rotate(342deg)
    brightness(87%) contrast(89%);
}
.portfolio-container-dark .blob {
  background-color: white;
  opacity: 0.1;
}
.portfolio-container-dark .project-icon {
  height: 17px;
  filter: invert(95%) sepia(16%) saturate(198%) hue-rotate(342deg)
    brightness(87%) contrast(89%);
}
/*---------------------------------------------------------------------------------------------------------*/
/* Light theme */
/*---------------------------------------------------------------------------------------------------------*/
.portfolio-container-light {
  width: 100%;
  height: 100%;
  background-color: #85ada8;
  color: #222;
}
.portfolio-container-light a {
  color: #222;
}
.portfolio-container-light .project-container:hover {
  background-color: #a0c5bf;
}
.portfolio-container-light .icon {
  width: 30px;
  padding-right: 10px;
  filter: invert(24%) sepia(8%) saturate(771%) hue-rotate(126deg)
    brightness(97%) contrast(89%);
}
.portfolio-container-light .icon:hover {
  filter: invert(7%) sepia(11%) saturate(3%) hue-rotate(314deg) brightness(92%)
    contrast(85%);
}
.portfolio-container-light .sun {
  filter: invert(24%) sepia(8%) saturate(771%) hue-rotate(126deg)
    brightness(97%) contrast(89%);
}
.portfolio-container-light .moon {
  filter: invert(24%) sepia(8%) saturate(771%) hue-rotate(126deg)
    brightness(97%) contrast(89%);
}
.portfolio-container-light .blob {
  background-color: white;
  opacity: 0.2n;
}
.portfolio-container-light .project-icon {
  height: 17px;
  filter: invert(24%) sepia(8%) saturate(771%) hue-rotate(126deg)
    brightness(97%) contrast(89%);
}
/*---------------------------------------------------------------------------------------------------------*/
/*  */
/*---------------------------------------------------------------------------------------------------------*/
.main-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto 0 auto;
  z-index: 1;
}
.first-container {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  height: 100%;
  z-index: 2;
}
.second-container {
  margin: 0 0 0 500px;
  z-index: 2;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Header */
/*---------------------------------------------------------------------------------------------------------*/
.first {
  font-weight: 200;
}
.job {
  margin-top: -7px;
  margin-left: 1px;
}
.job-title {
  font-size: 18px;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Navbar */
/*---------------------------------------------------------------------------------------------------------*/
.nav-link-container {
  display: flex;
  flex-direction: column;
}
.nav-link {
  padding: 10px 0;
  transition: 0.3s;
}
.nav-link:hover {
  font-weight: bold;
  padding-left: 10px;
}
/*---------------------------------------------------------------------------------------------------------*/
/* About Section */
/*---------------------------------------------------------------------------------------------------------*/
.about {
  padding: 70px 30px 30px 30px;
  text-align: justify;
  line-height: 20px;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Project Item */
/*---------------------------------------------------------------------------------------------------------*/
.project-container {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
  padding: 30px 30px 30px 20px;
  gap: 15px;
  border-radius: 10px;
  cursor: pointer;
  line-height: 20px;
  text-align: justify;
}
.project-container h3 {
  font-size: 16px;
}
.project-img {
  width: 150px;
}
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.project-title-icons {
  display: flex;
  gap: 5px;
}
.project-icon {
  height: 17px;
  filter: invert(24%) sepia(8%) saturate(771%) hue-rotate(126deg)
    brightness(97%) contrast(89%);
}
/*---------------------------------------------------------------------------------------------------------*/
/* Experience Item */
/*---------------------------------------------------------------------------------------------------------*/
.experience {
  padding: 30px 0px 40px 0;
}
.experience-container {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  margin-bottom: 15px;
  gap: 4px;
  border-radius: 10px;
}
.experience-container h3 {
  font-size: 16px;
}
.experience-container h4 {
  font-weight: 600;
  font-size: 14px;
}
p {
  font-size: 14px;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Social Media List Container */
/*---------------------------------------------------------------------------------------------------------*/
.social-media-container {
  display: flex;
  flex-direction: column;
}
.icon {
  height: 25px;
}
.icon:last-child {
  height: 19px;
}
/*---------------------------------------------------------------------------------------------------------*/
/* Theme Toggle */
/*---------------------------------------------------------------------------------------------------------*/
.theme-toggle {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.sun {
  width: 30px;
  padding-right: 5px;
}
.moon {
  width: 25px;
  padding: 0 0 2px 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  background-color: #3a4746;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #d4cec2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #141414;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*---------------------------------------------------------------------------------------------------------*/
/* Mouse Blob */
/*---------------------------------------------------------------------------------------------------------*/
.blob {
  position: fixed;
  height: 250px;
  width: 250px;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: 1;
  filter: blur(200px);
}
/*---------------------------------------------------------------------------------------------------------*/
/* Responsive Mobile Media Query */
/*---------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1100px) {
  .first-container {
    padding-left: 30px;
  }
  .second-container {
    margin: 0 0 0 350px;
  }
  .project-container,
  .experience-container {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .main-container {
    flex-direction: column;
  }
  .first-container {
    position: relative;
  }
  .second-container {
    margin: 0;
  }
  .project-container,
  .experience-container {
    margin-left: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .nav-link-container {
    display: none;
  }
  .project-container {
    flex-direction: column;
  }
  .project-img {
    width: 100%;
  }
  .icon-container {
    margin: 25px 0 0 0;
  }
  .theme-toggle {
    margin-top: 15px;
  }
  .about {
    padding-top: 0;
  }
  .first-container {
    padding: 30px;
  }
}
